.header {
  background-color: var(--deep-purple);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-title {
  color: white !important;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

img.logo {
  width: 35px;
  height: 35px;
  object-fit: contain;
  background-color: transparent;
}

.header-left h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
} 