.tenk-table-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

.tenk-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tenk-table th,
.tenk-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #070707;
}

.tenk-table th {
  background-color: #0f0e0e;
  font-weight: 600;
  color: #000000;
}

.tenk-table td {
  color: #000000;
}

.tenk-table tr:hover {
  background-color: #070707;
} 

.tenk-table tr:last-child td {
  border-bottom: none;
} 